body {
    background-color: #c5b9ed;
}

main {
    font-family: 'Literata', serif;
}

nav {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Work Sans', sans-serif;
}

footer {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    padding-bottom: 40px;
}

h1 {
    font-weight: 300;
}


img {
    display: block;
    height: auto;
    width: 100%;
}

nav {
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

header > div {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    padding: 40px 20px;
}

.container:nth-child(even) {
    background-color: #eaeaea;
}

.container-inner {
    max-width: 750px;
    margin: auto;
}

@media (max-width: 800px) {
    header {
        grid-template-columns: 1fr;
    }
}